.main{
    width: 100%;
    height: 100%;
    background-color: azure;
}
.hide{
    height: 8%;
}
.mainContent{
    float: left;
    margin-left: 5%;
    height: 82%;
    width: 70%;
    background-color: rgb(245, 236, 224);
    text-align: center;
}
.rightMes{
    text-align: right;
    font-size: small;

}
.writeComment{
    float: left;
    margin-left: 5%;
    width: 70%;
    height: 10%;
    bottom: 0;
    background-color: rgb(233, 227, 202);
}
.rightPannel{
    float: left;
    width: 20%;
    position: absolute;
    right: 5%;
    background-color: darkgrey;
    height: 60%;
}
.panel{
    text-align: center;
    background-color:rgb(124, 129, 116);
}