
.main{
    width: 100%;
    height: 100%;
    background-color: azure;
}
.hide{
    height: 8%;
}
.mainContent{
    float: left;
    margin-left: 5%;
    height: 82%;
    width: 70%;
    background-color: rgb(245, 236, 224);
    text-align: center;
}
.rightMes{
    text-align: right;
    font-size: small;

}
.writeComment{
    float: left;
    margin-left: 5%;
    width: 70%;
    height: 10%;
    bottom: 0;
    background-color: rgb(233, 227, 202);
}
.rightPannel{
    float: left;
    width: 20%;
    position: absolute;
    right: 5%;
    height: 60%;
}
.panel{
    text-align: center;
    background-color:rgb(217 253 158);
}
.recommends{
    padding: 10px 0;
    background: #6c97a7;
}
.recommends li{
    list-style: none;
    text-align: center;
}


div.rightComment>div>p{
    background: beige;
    border-bottom: #c1c1a8 2px solid;
}
div.rightComment,div.comments{
    height: 100%;
    width: 100%;
}

div.comments{
    background: beige;
    padding: 10px 0;
    overflow: auto;
}
#comment{
    float: left;
    margin-left: 3%;
    margin-top: 0.6rem;
    width: 80%;
    height: 75%;
}
#sendComent{
    float: left;
    margin: 2rem  0 0 2rem;
}