*{
    margin: 0;
    padding: 0;
}
html,body,div#main{
    width: 100%;
    height: 100%;
}
#main{
    background: #91E4D8;
}
.form{
    height: 80%;
    width: 100%;
    text-align: center;
}
.form form{
    width: 100%;
    height: 100%;
}

.lineBlock {
    display: inline-block;
}
a{
    text-decoration: none;
}
.line input{
        width: 80%;
        height: 100%;
        border: none;
        border-bottom: 2px solid #84d7c7;
        font-size: 20px;
        margin-bottom: 20px;
    }
/* .line,.addPanel{
    display: flex;
    justify-content: space-around;
} */
.line label {
    width: 15%;
    float: left;
}
input::-webkit-input-placeholder{
    color: #f4f4f4;
}
.loginBottom button{
    width: 40%;
    height: 5%;
    border-radius: 5px;
    background: #00B0E8;
    border-width: 0px;
    cursor: pointer;
    outline: none;
    font-family: "Microsoft YaHei UI";
    color: whitesmoke;
    font-size: 30px;
}
.loginBottom button:hover{
    background: #17aa59;
}
button#register{
    height: 100%;
    padding: 0 20px;
    background: #4dc7b0;
    border: none;
    border-radius: 20px;
}

.addPanel{
    height: 10%;
    margin-top: 6px;
    display: flex;
    justify-content: space-around;

}
@media screen and (min-device-width: 1000px){
    #main .loginPannel{
        position: absolute;
        top:10%;
        right: 5%;
        width: 30%;
        height: 60%;
        background: #0f74a8;
    }
    .logo{
        text-align: center;
        height: 20%;
    }
    img{
        height: 100%;
    }
    .line input{
        background: #0f74a8;
    }
    .line input:focus{
        outline:none;
        background: #4caeea;
        border-radius: 20px;
    }

}


@media screen and (max-device-width: 1000px){
    #main .loginPannel{
        left: 10%;
        position: absolute;
        background: #60f1f7;
        width: 80%;
        height: 50%;
        top: 20%;
        text-align: center;
    }
    .logo{
        text-align: center;
        height: 20%;
    }
    img{
        transform: translateY(10%);
        height: 80%;
    }
    .line input{
        background: #60f1f7;
    }
}
