{% extends "blogModel.html" %}
{% load static %}

{% block title %}
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="{% static 'css/blog/blogDetail.css'%}">
    <link rel="stylesheet" href="{% static 'css/prism.min.css' %}">
    <script src="{% static 'js/prism.min.js' %}"></script>
    <script src="{%static 'js/axios.min.js'%}"></script>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="hide"></div>
        <div class="mainContent">
            <h2>{{ blog.title }}</h2>
            <div>{{ blog.content |safe }}</div>
            <p class="rightMes">作者： {{ blog.author }}</p>
	        <p class="rightMes">分类：{{blog.type}}</p> 
            <p class="rightMes">创作时间:{{ blog.createTime |date:"Y-m-d H:i:s"}}</p>
        </div>
        <div class="writeComment">
            <!-- 这里用ajax会比较好一些，不要进行重定向操作 -->
                <textarea type="" id="comment" placeholder="写下你对这篇博客的一些见解呗！"></textarea>
                <input type="hidden" name="blog" id="blogid" value="{{blog.id}}">
                <button type="button" onclick="sendComent()" id="sendComent">发表</button>
        </div>
        <div class="rightPannel">
            <div class="rightSuggest">
                <div class="panel">
                    右边推荐栏目
                </div>
                <div class="recommends">
                    {%for item in recommends%}
                    <li> <a href="/blog/blogDetail/{{item.id}}">{{item}}</a></li>
                    {%endfor%}
                </div>
            </div>
            <div class="rightComment">
                <div class="panel">
                    评论
                </div>
                <div class="comments">
                    {%for com in comments%}
                    <p>{{com.userName}}:{{com.content}}</p>
                    {%endfor%}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
function sendComent(){
    commentValue=document.getElementById("comment").value.trim();
    blogid=document.getElementById("blogid")
    if(commentValue != ""){
        axios({
        method: 'post',
        url: '/blog/createComment',
        data:{
        "blog":blogid.value,
        "Comment":commentValue
        }
    })
    .then(res=>{
        // 成功了就清空输入框内容
        console.log(res)
        if (res.status ==200){
            showComment(res.data.user,commentValue)
        }
    })
    .catch(error=>{
        console.log(error)
        alert("错误信息")
    })
    }
    
} 

function showComment(user,value){
    commentArea=document.getElementsByClassName("comments")[0]
    inputArea=document.getElementById("comment")
    addDom=document.createElement("p");
    // addDom.className="addComment";
    addDom.textContent=user+":"+value;
    commentArea.appendChild(addDom)
    inputArea.value=""
}

</script>
{% endblock %}
