{% extends "blogModel.html" %}
{% load static %}

{% block title %}
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="{% static 'css/blog/blogDetail.css'%}">
    <link rel="stylesheet" href="{% static 'css/prism.min.css' %}">
    <script src="{% static 'js/prism.min.js' %}"></script>
    <script src="{%static 'js/axios.min.js'%}"></script>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="hide"></div>
        <div class="mainContent">
            <h2>{{ blog.title }}</h2>
            <div>{{ blog.content |safe }}</div>
            <p class="rightMes">作者： {{ blog.author }}</p>
	        <p class="rightMes">分类：{{blog.type}}</p> 
            <p class="rightMes">创作时间:{{ blog.createTime |date:"Y-m-d H:i:s"}}</p>
        </div>
        <div class="writeComment">
            <!-- 这里用ajax会比较好一些，不要进行重定向操作 -->
                <input type="text" id="comment">
                <input type="hidden" name="blog" id="blogid" value="{{blog.id}}">
                <button type="button" onclick="sendComent()">发表</button>
        </div>
        <div class="rightPannel">
            <div class="rightSuggest">
                <div class="panel">
                    右边推荐栏目
                </div>

            </div>
            <br>
            <div class="rightComment">
                <div class="panel">
                    评论
                </div>
                {%for com in comments%}
                <p>{{com.userName}}:{{com.content}} {{com.writeTime}}</p>
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
function sendComent(){
    commentDoc=document.getElementById("comment")
    blogid=document.getElementById("blogid")
    if(commentDoc.value == ""){
        axios({
        method: 'post',
        url: '/blog/createComment',
        data:{
        "blog":blogid.value,
        "Comment":commentDoc.value
        }
    })
    .then(res=>{
        // 成功了就清空输入框内容
        console.log(res)
        if (res.status ==200){

        }
    })
    .catch(error=>{
        console.log(error)
        alert("错误信息")
    })
    }
    
} 
</script>
{% endblock %}
