{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div id="main">
    <div class="loginPannel">
        <div class="logo">
            <img src="{% static 'img/icon/logo.png' %}" >
        </div>
        <div class="form">
            <form action="/auth/register/" method="post">
                {% csrf_token %}
                <div class="line name">
                    账号：<input type="text" placeholder="请输入账号！" value="" name="name" required="required" minlength="8" maxlength="16">
                </div>
                <div class="line password">
                    密码：<input type="text" placeholder="请输入你的密码！" name="password" required="required" minlength="8" maxlength="32">
                </div>
                <div class="line password">
                    密码：<input type="text" placeholder="请再次输入密码！" value="" name="passwordAgain" required="required" minlength="8" maxlength="32">
                </div>
                <div class="line">
                    邮箱： <input type="text" placeholder="邮箱号（非必填项）">
                </div>
                <div class="loginBottom">
                    <button type="submit">注册</button>
                </div>
                <div class="error">
                    {{ error }}
                </div>
                <div class="addPanel">
                    <div class="qqLogin lineBlock">
                        <img src="" alt="">企鹅图标
                    </div>
                    <div class="register lineBlock">
                        <a href="/auth/login/">去登录》</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>